    .nav {
font-weight: bold;
              }

#kidsheader
{
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  align-content: center;
}

 #videoimage{
      margin-right: 10px;
  }
img {
          margin: auto;
}

footer {
background-color: #808080;
text-align: center;
color: #fefefe;
position: fixed;
left: 0px;
right: 0px;
bottom: 0px;
height: 60px;

  }
.fa {
color: #fefefe;
}
body {
margin-bottom: 30px;
}
.login {
  padding: 0px 20px 20px;
  width: 500px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}
.login p {
  margin: 20px 0 0;
}
.login textarea {
  margin-top: 20px;
  
}
.login p:first-child {
  margin-top: 0;
}
.login input[type=text], .login input[type=password] {
  width: 278px;
}

#welcometxt {
padding-bottom: 40px;
}

.storypage img {
float: left;
margin:0 12px 12px 0px;
}
.storypage h3{
text-align: left;
color: red;
}
.storypage p{
text-align: justify;
padding: 0px 0px 12px 0px;
}
